.light {
	--background: oklch(1 0 0);
	--foreground: oklch(0.153 0.006 107.1);

	--card: oklch(1 0 0);
	--card-foreground: oklch(0.153 0.006 107.1);

	--popover: oklch(1 0 0);
	--popover-foreground: oklch(0.153 0.006 107.1);

	--primary: oklch(0.841 0.238 128.85);
	--primary-foreground: oklch(0.405 0.101 131.063);
	--primary-shadow: oklch(from var(--primary) 0.5 c h);

	--secondary: oklch(0.967 0.001 286.375);
	--secondary-foreground: oklch(0.21 0.006 285.885);
	--secondary-shadow: oklch(from var(--secondary) 0.5 c h);

	--muted: oklch(0.966 0.005 106.5);
	--muted-foreground: oklch(0.58 0.031 107.3);

	--accent: oklch(0.966 0.005 106.5);
	--accent-foreground: oklch(0.228 0.013 107.4);
	--accent-shadow: oklch(from var(--accent) 0.5 c h);

	--border: oklch(0.93 0.007 106.5);
	--input: oklch(0.93 0.007 106.5);
	--ring: oklch(0.737 0.021 106.9);

	--chart-1: oklch(0.897 0.196 126.665);
	--chart-2: oklch(0.768 0.233 130.85);
	--chart-3: oklch(0.648 0.2 131.684);
	--chart-4: oklch(0.532 0.157 131.589);
	--chart-5: oklch(0.453 0.124 130.933);

	--sidebar: oklch(0.988 0.003 106.5);
	--sidebar-foreground: oklch(0.153 0.006 107.1);
	--sidebar-primary: oklch(0.648 0.2 131.684);
	--sidebar-primary-foreground: oklch(0.986 0.031 120.757);
	--sidebar-accent: oklch(0.966 0.005 106.5);
	--sidebar-accent-foreground: oklch(0.228 0.013 107.4);
	--sidebar-border: oklch(0.93 0.007 106.5);
	--sidebar-ring: oklch(0.737 0.021 106.9);

	--destructive: oklch(0.577 0.245 27.325);
	--destructive-shadow: oklch(from var(--destructive) 0.5 c h);
	--destructive-foreground: oklch(0.969 0.016 293.756);

	--success: oklch(0.397 0.192 145.705);
	--success-shadow: oklch(0.337 0.16 146.006);

	--warn: oklch(0.452 0.284 122.003);
	--warn-shadow: oklch(0.408 0.279 120.852);

	--info: oklch(0.399 0.139 280.312);
	--info-shadow: oklch(0.357 0.161 284.221);
}
